BasedOnStyle: LLVM
IndentWidth: 4
ContinuationIndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 132
SortIncludes: Never

BreakBeforeBinaryOperators: NonAssignment
BreakConstructorInitializers: BeforeColon
BreakConstructorInitializersBeforeComma: false
ConstructorInitializerAllOnOneLineOrOnePerLine: true
AlignOperands: AlignAfterOperator
AlignAfterOpenBracket: AlwaysBreak
AlignConsecutiveMacros:
  Enabled: true
  AlignCompound: true
  PadOperators: true
  AcrossEmptyLines: false
  AcrossComments: false
AlignTrailingComments: true
AlignConsecutiveDeclarations:
  Enabled: true
  AlignCompound: true
  PadOperators: true
  AcrossEmptyLines: false
  AcrossComments: false
AlignConsecutiveAssignments:
  Enabled: true
  AlignCompound: true
  PadOperators: true
  AcrossEmptyLines: false
  AcrossComments: false
AlignConsecutiveBitFields:
  Enabled: true
  AlignCompound: true
  PadOperators: true
  AcrossEmptyLines: false
  AcrossComments: false
AlignEscapedNewlines: Left
IndentPPDirectives: None
PointerAlignment: Left

AllowShortIfStatementsOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: true
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: false

BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Attach
Cpp11BracedListStyle: true
SpaceBeforeParens: ControlStatements

ExperimentalAutoDetectBinPacking: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowAllArgumentsOnNextLine: false

# Penalty settings
PenaltyBreakOpenParenthesis: 0
PenaltyExcessCharacter: 100
PenaltyReturnTypeOnItsOwnLine: 1000
PenaltyBreakAssignment: 1000
PenaltyBreakFirstLessLess: 1000
PenaltyBreakBeforeFirstCallParameter: 0
