BasedOnStyle: LLVM
IndentWidth: 4
ContinuationIndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 132
SortIncludes: Never

BreakBeforeBinaryOperators: NonAssignment
BreakConstructorInitializers: BeforeColon
AlwaysBreakTemplateDeclarations: Yes

# Alignment
AlignOperands: AlignAfterOperator
AlignAfterOpenBracket: BlockIndent
AlignConsecutiveMacros: None
AlignConsecutiveDeclarations: None
AlignConsecutiveAssignments: None
AlignConsecutiveBitFields: Consecutive
AlignTrailingComments: true
AlignEscapedNewlines: Left
IndentPPDirectives: None
PointerAlignment: Left

# Single line statements
AllowShortIfStatementsOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: true
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: false

# Packing
PackConstructorInitializers: CurrentLine
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Attach
Cpp11BracedListStyle: true
SpaceBeforeParens: ControlStatements
ExperimentalAutoDetectBinPacking: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowAllArgumentsOnNextLine: false

# Penalty settings
PenaltyBreakOpenParenthesis: 0
PenaltyExcessCharacter: 100
PenaltyReturnTypeOnItsOwnLine: 1000
PenaltyBreakAssignment: 1000
PenaltyBreakFirstLessLess: 1000
PenaltyBreakBeforeFirstCallParameter: 0
